 # Python Fundamentals
 &copy; QuantSprout

### iPython Notebook Magic

#### Short cut keys:

-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab
-  view shortcut menu - esc then h

#### Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python program

#### print "hello data science"

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [1]:
n = 1
n = n+1
print n

2

In [2]:
type(1)

int

In [3]:
type(2.5)

float

In [4]:
type(int)

type

### String Insertion
Basic string insertions

In [5]:
"All the text guys{}".format(", right?")

'All the text guys, right?'

In [6]:
import cmath
name = cmath.pi
t = "Wherefore are though, {}?".format(name)
print t
print [x for x in t]

Wherefore are though, 3.14159265359?
['W', 'h', 'e', 'r', 'e', 'f', 'o', 'r', 'e', ' ', 'a', 'r', 'e', ' ', 't', 'h', 'o', 'u', 'g', 'h', ',', ' ', '3', '.', '1', '4', '1', '5', '9', '2', '6', '5', '3', '5', '9', '?']

You can insert multiple values into strings but requires labels

In [7]:
place = "Toronto"
"\"{0}\" is where \"{1}\" was said first".format(place,t)

'"Toronto" is where "Wherefore are though, 3.14159265359?" was said first'

Try reversing order of the variables name and place.|

In [8]:
"{nm} is in {pl}".format(nm=name, pl=place)

'3.14159265359 is in Toronto'

Try using names in brackets

### Basic math in python
Some operators are pretty obvious

In [9]:
5+5

10

But some operators are less intuitive

In [10]:
print "Hello " + "world"

Hello world

In [11]:
10%4 #modulo

2

In [12]:
10**2 #exponent

100

In [13]:
1E1+(1*10) #exponent base 10

20.0

Assign values to variables

In [14]:
x=10
y=5
z=4

Use math with variables

In [15]:
x-y

5

In [16]:
x*y

50

Try dividing x by z

In [17]:
x/z

2

Try dividing x by 4.0

### Functions

#### Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [18]:
def flipString(X):
#    y = str([t for t in sorted(X, reverse=True)])
    y = X[::-1]
    return y

Call function by name

In [19]:
x = "Lets test this out"
print flipString(x)

tuo siht tset steL

You can create a function that requires an input and returns a result

In [20]:
def square(x):
    return x ** 2

In [21]:
square(4)

16

### Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [22]:
t = [1,2,3,
    4,5,6,
    7,8,9]

You can also use the backslash

In [23]:
t = "rargh" \
    + "gle"
print t

rarghgle

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [1]:
def convert_temp(temp,toF=False):
    return (temp*9.0/5.0+32.0) if toF else ((temp-32.0)*5.0/9.0) #math is wrong in this
currenttemp = 70
convert_temp(currenttemp)

52.22222222222222

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [31]:
def print_celc(temp):
    print "It's {f} degrees Fahrenheight and {c} degrees Celcius".format(f=convert_temp(temp,False),c=temp)
    
print_celc(0)

It's -17.7777777778 degrees Fahrenheight and 0 degrees Celcius

## Annndd scene